body {
    font-family: "Roboto Condensed";
    margin: 0;
    background-image: url(images/background.png);

}

.menu {
    display: flex;
    justify-content: center;
}

nav {
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    font-family: "Avenir LT Std";
    font-weight: bold;
    z-index: 10;

}

nav a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;


}

.menuline {
    display: block;
    width: 80%;
    margin-top: -2vw;
    margin-left: 10%;
}

.landing {
    height: 10%;
    width: 100%;
    margin-top: -7vw;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

#SoMeicons {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20px;
    align-items: center;
    height: 12%;
    margin-top: 10px;
}

#SoMeicons img {
    padding: 5px;
    width: 30px;
}


.footer {
    background-color: #FFDB4D;
    position: absolute;
    margin-top: 10vw;
    width: 100%;
    text-align: center;
    font-family: "Avenir LT Std";
    color: #11233E;
}

.footer a {
    color: #11233E;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.footer p {
    font-size: 20px;
}

.footericons {
    padding: 0;
}

.footer img {
    padding-bottom: 10px;
}


/* HOMEPAGE STARTS */

#homelanding {
    background-image: none;
    background-color: black;
    height: 50em;
    z-index: -200;
}

#homefooter {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 10rem;
    background-color: #FFDB4D;
    text-align: center;
    color: #11233E;
}


#homefooter a {
    color: #11233E;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

#homefooter p {
    font-size: 20px;
}

.footericons {
    padding: 0;
}

#homefooter img {
    padding-bottom: 10px;
}

#poligons {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 48em;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    z-index: 1;
}

#poligons img {
    vertical-align: middle;
    margin-top: -330px;
}

#poligons p {
    position: absolute;
}

#information {
    background-image: url(images/background2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 45em;
    position: relative;
    top: 48em;
}

/* BOOKING PAGE STARTS */

#conditions {
    position: absolute;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding-left: 150px;
}

#conditions img {
    vertical-align: middle;
    padding-right: 5px;
    width: 20px;
}

#conditions p {
    width: 35%;
    margin: 7px;
    margin-left: 0;
    padding-right: 80px;

}

h2 {
    color: white;
    padding-left: 150px;
    border: 0;
    padding-top: 10px;
}

#bookinginformation {
    background: rgb(219, 53, 59);
    background: linear-gradient(0deg, rgba(219, 53, 59, 1) 0%, rgba(219, 53, 59, 0.165703781512605) 100%);
    position: absolute;
    top: 22em;
    margin-left: 150px;
    width: 30%;
}

#bookinginformation h2 {
    padding: 15px;
    margin-bottom: 0;
    margin-top: -5px;
}

form {
    color: white;
    padding-left: 15px;
    font-family: "Roboto Condensed";
}

input[type=checkbox] {
    padding: 10px;
    margin: 10px;
}

input[type=text] {
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px #d8d8d8 solid;
    font-size: 15px;
    color: #d8d8d8;
    width: 85%;
}

input::placeholder {
    color: #d8d8d8;
}

select {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    color: white;
    padding: 10px;
    font-family: "Roboto Condensed";
}

select option {
    color: black;
    font-family: "Roboto Condensed";
}

input[type=date],
[type=time] {
    margin-left: 10px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px #d8d8d8 solid;
    color: #d8d8d8;
    padding: 10px;

}

/* SNACKS & DRINKS PAGE STARTS */

.foodpic {
    width: 30%;
    height: 30%;
    align-items: center;
}

.food img {
    margin-top: 3%;
}

.food {
    display: flex;
    flex-direction: row;
     justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}