@media only screen and (max-width: 449px) {
    .menu {
        display: none;
    }

    /* code by Jelena Jovanovic (https://codepen.io/plavookac/pen/qomrMw)*/

    @import url('https://fonts.googleapis.com/css?family=Varela+Round');

    html,
    body {
        overflow-x: hidden;
        height: 100%;
    }

    body {
        background-image: url(mobilebackground.png);
        padding: 0;
        margin: 0;
    }

    .menuline {
        display: none;
    }

    .menu {
        z-index: 100;
    }

    #conditions {
        z-index: -1;
    }

    #bookinginformation {
        z-index: -1;
    }

    .header {
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        height: 60px !important;
        overflow: hidden;
        z-index: 10;
        background-color: #162D50;
    }

    #sidebarMenu {
        height: 100%;
        position: fixed;
        left: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 300ms ease-in-out;
        font-family: Avenir LT Std;
        background: rgb(42, 92, 166);
        background: linear-gradient(0deg, rgba(42, 92, 166, 1) 0%, rgba(22, 45, 80, 1) 100%);

    }

    .sidebarMenuInner {
        margin-top: 30%;
        padding: 0;
    }

    .sidebarMenuInner li {
        list-style: none;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px;
        cursor: pointer;
        
    }

    .sidebarMenuInner li span {
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.50);
    }

    .sidebarMenuInner li a {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }

    input[type="checkbox"]:checked ~ #sidebarMenu {
        transform: translateX(0);
    }

    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }

    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 22px;
        right: 15px;
        height: 22px;
        width: 22px;
    }

    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #fff;
    }

    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }

    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }

    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }

    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }
    
    #mobilecontent h2 {
        font-family: Avenir LT Std;
        text-transform: uppercase;
        font-size: 18px;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
    
    #mobilecontent #conditions {
        padding: 0;
        font-family: Roboto condensed;
        font-size: 13px;
        width: 100%;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #mobilecontent #conditions p {
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        
    }
    
    #mobilecontent #bookinginformation {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: 5%;
        padding: 0;
        width: 90%;
        top: 53%;
    }
    
    #mobilecontent input[type=checkbox] {
    }

    .footer {
        display: none;
        background-color: #FFDB4D;
        position: absolute;
        width: 100%;
        text-align: center;
        font-family: "Avenir LT Std";
        color: #11233E;
        z-index: -1;
    }

    .footer a {
        color: #11233E;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }

    .footer p {
        font-size: 20px;
    }

    .footericons {
        padding: 0;
    }

    .footer img {
        padding-bottom: 10px;
    }
    
    #myUL {
        display: none;
    }

    
    
    
    
    
    
    
    
    
    

}

@media only screen and (min-width: 450px) {

    body {
        font-family: "Roboto Condensed";
        font-size: 1.1rem;
        margin: 0;
        background-image: url(images/background.png);
    }

    #mobilemenu {
        display: none;
    }

    p {
        line-height: 1.4;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    nav {
        width: 70%;
        height: 10%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        font-family: "Avenir LT Std";
        font-weight: bold;
        z-index: 10;

    }

    nav a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        color: white;
        transition-duration: 0.8s;
    }
    
    nav a:hover {
        color: #CE3036;
    }

    .menuline {
        display: block;
        width: 80%;
        margin-top: -2vw;
        margin-left: 10%;
    }


    #SoMeicons {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 20px;
        align-items: center;
        height: 12%;
        margin-top: 10px;
    }

    #SoMeicons img {
        padding: 5px;
        width: 30px;
    }


    .footer {
        background-color: #FFDB4D;
        position: absolute;
        margin-top: 10vw;
        width: 100%;
        text-align: center;
        font-family: "Avenir LT Std";
        color: #11233E;
    }

    .footer a {
        color: #11233E;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }

    .footer p {
        font-size: 20px;
    }

    .footericons {
        padding: 0;
    }

    .footer img {
        padding-bottom: 10px;
    }

}
/* HOMEPAGE STARTS */

#homelanding {
    background-image: none;
    background-color: black;
    height: 50em;
    z-index: -200;
    margin-top: -6vw;
}

#homefooter {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 10rem;
    background-color: #FFDB4D;
    text-align: center;
    color: #11233E;
}


#homefooter a {
    color: #11233E;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

#homefooter p {
    font-size: 20px;
}

.footericons {
    padding: 0;
}

#homefooter img {
    padding-bottom: 10px;
}

.icon {
    width: 16%;
    margin-left: 42%;
    margin-top: 12%;
}

.yellowleft {
    float: left;
    width: 22%;
    background-image: url(images/yellowPolygon.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -3.5%;
    margin-left: 9.5%;
}

.yellowlefttext {
    width: 64%;
    margin-left: 18%;
    color: #162D50;
    text-align: center;
}

.yellowleftbutton {
    font-family: 'Avenir LT Std', serif;
    color: white;
    font-size: 1rem;
    padding: 0.7rem;
    font-weight: 400;
    background-color: #CE3036;
    border: none;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition-duration: 0.8s;
}

.yellowleftbutton:hover {
    background-color: white;
    color: #CE3036;
}

.red {
    float: left;
    width: 37%;
    background-image: url(images/redPolygon.png);
    background-size: cover;
    margin-top: -11.5%;
}

.red {
    /* -webkit-animation: mover 1s infinite  alternate; */
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.redtext {
    width: 60%;
    margin-left: 20%;
    color: white;
    text-align: center;
}

.entryfee{
    width: 30%;
}

.redbutton {
    font-family: 'Avenir LT Std', serif;
    color: #162D50;
    font-size: 1.2rem;
    padding: 0.7rem;
    font-weight: 700;
    background-color: #FFDB4D;
    border: none;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition-duration: 0.8s;
}

.redbutton:hover {
    font-size: 1rem;
}

.yellowright {
    float: right;
    width: 22%;
    background-image: url(images/yellowPolygon.png);
    background-size: cover;
    margin-right: 9.5%;
    margin-top: -3.5%;
}

.yellowrighttext {
    width: 70%;
    margin-left: 15%;
    color: #162D50;
    text-align: center;
}

.redline {
    position: absolute;
    width: 100%;
    z-index: -50;
    margin-top: 6%;
}

#poligons {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 48em;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    z-index: 1;
}

#poligons img {
    vertical-align: middle;
    margin-top: -330px;
}

#poligons p {
    position: absolute;
}

h4 {
    font-family: 'Avenir LT Std', serif;
    font-size: 1.4rem;
    padding: 0;
    color: white;
}

.events {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vw;
}

.event01 {
    width: 50%;
    float: left;
}

.event01img {
    width: 80%;
    float: left;
}

.attendevent01 {
    font-family: 'Avenir LT Std', serif;
    color: white;
    font-size: 1rem;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 5%;
    font-weight: 400;
    background-color: #CE3036;
    border: none;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-left: -26%;
    margin-top: 37%;
    transition-duration: 0.8s;
}

.attendevent01:hover {
    background-color: white;
    color: #CE3036;
}


.event02 {
    width: 50%;
    float: right;
}

.event02img {
    width: 80%;
    float: right;
}

.attendevent02 {
    float: right;
    font-family: 'Avenir LT Std', serif;
    color: white;
    font-size: 1rem;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 5%;
    font-weight: 400;
    background-color: #CE3036;
    border: none;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-right: 6.5%;
    margin-top: -8.5%;
    transition-duration: 0.8s;
}

.attendevent02:hover {
    background-color: white;
    color: #CE3036;
}

#information {
    background-image: url(images/background2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 45em;
    position: relative;
    top: 48em;
}

.openinghours {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 28vw;
    margin-bottom: 55vw;
}

h5 {
   font-family: 'Avenir LT Std', serif;
    font-weight: 100;
}

.vestergade {
    width: 50%;
    float: left;
}

.Vopeningheading {
    padding: 0;
    float: right;
    margin-right: 5%;
}

.Vphone {
    padding: 0;
    float: right;
    right: 0;
}

.vestergadetext {
    width: 50%;
    float: left;
    top: 0;
    padding: 0;
}

.vestergadeopening {
    width: 40%;
    float: right;
    margin-right: 5%;
    top: 0;
    padding: 0;
}

.fredensgade {
    width: 50%;
    float: right;
}

.Fopeningheading {
    padding: 0;
    float: left;
    margin-left: 5%;
}

.fredensgadetext {
    width: 50%;
    float: right;
}

.fredensgadeopening {
    width: 40%;
    margin-left: 5%;
    float: left; 
}

/* BOOKING PAGE STARTS */

#conditions {
    position: absolute;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding-left: 150px;
}

#conditions img {
    vertical-align: middle;
    padding-right: 5px;
    width: 20px;
}

#conditions p {
    width: 35%;
    margin: 7px;
    margin-left: 0;
    padding-right: 80px;

}

h2 {
    color: white;
    padding-left: 150px;
    border: 0;
    padding-top: 10px;
}

#booking {
    margin-bottom: 45vw;
}

#bookinginformation {
    background: rgb(219, 53, 59);
    background: linear-gradient(0deg, rgba(219, 53, 59, 1) 0%, rgba(219, 53, 59, 0.165703781512605) 100%);
    position: absolute;
    top: 22em;
    margin-left: 150px;
    width: 30%;
}

#bookinginformation h2 {
    padding: 15px;
    margin-bottom: 0;
    margin-top: -5px;
}

form {
    color: white;
    padding-left: 15px;
    font-family: "Roboto Condensed";
}

input[type=checkbox] {
    padding: 10px;
    margin: 10px;
}

#bookinginformation input[type=text] {
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px #d8d8d8 solid;
    font-size: 15px;
    color: #d8d8d8;
    width: 85%;
}

input::placeholder {
    color: #d8d8d8;
}

select {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    color: white;
    padding: 10px;
    font-family: "Roboto Condensed";
}

select option {
    color: black;
    font-family: "Roboto Condensed";
}

input[type=date],
[type=time] {
    margin-left: 10px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px #d8d8d8 solid;
    color: #d8d8d8;
    padding: 10px;

}

/* SNACKS & DRINKS PAGE STARTS */

.foodpic {
    width: 30%;
    height: 30%;
    align-items: center;
}

.food img {
    margin-top: 3%;
}

.food {
    display: flex;
    flex-direction: row;
     justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


/* GAMES CATALOGUE PAGE STARTS */

#myInput {
    width: 15.5%;
    font-size: 16px;
    padding: 12px 10px 12px 20px;
    border: 1px solid #DB353B;
    margin-top: 50px;
    margin-left: 10%;
    position: absolute;
    font-family: Roboto Condensed;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

#myUL p {
    text-align: justify;
    color: #989898;
    font-style: italic;
    font-weight: lighter;
    font-size: 15px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    padding-left: 20%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 28px;
}

h3 {
    color: white;
    margin-bottom: -10px;
    margin-top: 5px;
}

#myUL li {
    width: 40vh;
    min-width: 40vh;
    margin: 20px;
}

#myUL li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: Avenir LT Std;
    background-color: #DB353B;
    padding: 8px 18px 8px 18px;
}

#myUL li a:hover {
    background-color: white;
    color: #DB353B;
    
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

#myBtnContainer {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 15%;
    margin-left: 10%;
    background: rgb(219, 53, 59);
    background: linear-gradient(0deg, rgba(219, 53, 59, 1) 0%, rgba(219, 53, 59, 0.165703781512605) 100%);
    padding: 20px;
}

#myBtnContainer h2{
    padding: 0;
    margin: 0;
}

#myBtnContainer h3 {
    margin-right: 17px;
}

.btn {
    margin: 7px;
    margin-left: 0;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-family: Roboto Condensed;
    font-size: 15px;
    cursor: pointer;
    
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: white;
    color: #DB353B;
}

.btn.active:hover {
    background-color: white;
    color: #DB353B;
}

/* Add a dark background to the active button */
.btn.active {
  margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-family: Roboto Condensed;
    font-size: 12px;
    cursor: pointer;
}

.red {
    /* -webkit-animation: mover 1s infinite  alternate; */
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
