.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #162D50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 64px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

@media only screen and (max-width: 449px) {
    #mobilecontent .menu {
        display: none;
    }


    @import url('https://fonts.googleapis.com/css?family=Varela+Round');

    html,
    body {
        font-family: "Roboto Condensed";
        scroll-behavior: smooth;
        overflow-x: hidden;
        height: 100%;
    }

    body {
        background-image: url(images/mobilebackground.png);
        padding: 0;
        margin: 0;
    }

    #mobilecontent {
        z-index: -1;
    }

    #mobilecontent .menuline {
        display: none;
    }

    .menu {
        z-index: 200;
    }

    #conditions {
        z-index: -1;
    }

    #bookinginformation {
        z-index: 1;
    }

    /* code by Jelena Jovanovic (https://codepen.io/plavookac/pen/qomrMw) START */

    .header {
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        height: 60px !important;
        overflow: hidden;
        z-index: 300;
        background-color: #162D50;
        position: absolute;
        top: 0;
    }

    #sidebarMenu {
        height: 100%;
        position: fixed;
        left: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 300ms ease-in-out;
        font-family: Avenir LT Std;
        background: rgb(42, 92, 166);
        background: linear-gradient(0deg, rgba(42, 92, 166, 1) 0%, rgba(22, 45, 80, 1) 100%);
        z-index: 300;
        top: 60px;

    }

    .sidebarMenuInner {
        margin-top: 30%;
        padding: 0;
    }

    .sidebarMenuInner li {
        list-style: none;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px;
        cursor: pointer;

    }

    .sidebarMenuInner li span {
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.50);
    }

    .sidebarMenuInner li a {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }

    #mobilemenu input[type="checkbox"]:checked ~ #sidebarMenu {
        transform: translateX(0);
    }

    #mobilemenu input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }

    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 301;
        top: 22px;
        right: 15px;
        height: 22px;
        width: 22px;
    }

    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #fff;
    }

    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }

    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    #mobilemenu input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }

    #mobilemenu input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }

    #mobilemenu input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }

    #sidebarMenu li img {
        margin: 5px;
    }

    /* code by Jelena Jovanovic (https://codepen.io/plavookac/pen/qomrMw) END */

    #mobilecontent h2 {
        font-family: Avenir LT Std;
        text-transform: uppercase;
        font-size: 18px;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }


    .footer {
        display: none;
    }


    /* HOMEPAGE MOBILE STARTS */

    #mobilecontent #homelanding {
        background-image: url(images/mobilelandingbackground.jpg);
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 25em;
        z-index: 100;
        margin-top: 0;
    }

    #mobilecontent #maininfo {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #mobilecontent .redline {
        position: absolute;
        margin-top: -50%;
    }

    #mobilecontent #maininfo .polygons {
        position: relative;
        height: 100%;
        margin-top: 20%;
    }

    #mobilecontent .yellowleft {
        background-image: none;
        position: relative;
        width: 200px;
        height: 200px;
        margin-top: 41%;
        margin-left: 6%;
        float: left;
        z-index: 200;

    }

    #mobilecontent .yellowleft img {
        width: 200px;
        margin-left: 0;
    }

    #mobilecontent .yellowright {
        background-image: none;
        position: absolute;
        width: 200px;
        height: 200px;
        margin-top: 19%;
        margin-left: 52%;
        float: right;
        z-index: 200;

    }

    #mobilecontent .yellowright img {
        width: 200px;
        margin-left: 0;
    }



    #mobilecontent .redcenter {
        animation: none;
        background-image: none;
        position: relative;
        width: 280px;
        height: 280px;
        margin-top: -84%;
        margin-left: -27%;
        z-index: 200;
    }

    #mobilecontent .redcenter img {
        width: 280px;
        display: block;
    }

    #mobilecontent .yellowpolygonleft {
        margin-top: -168px;
        width: 40%;
    }

    #mobilecontent .yellowpolygonright {
        width: 40%;
        margin-top: -170px;
    }

    #mobilecontent .openinghours {
        width: 100%;

        position: relative;
    }

    #mobilecontent .mobileevent h2 {
        font-size: 10px;
    }

    #mobilecontent .event01 {
        width: 100%;
        margin: 10px;
    }

    #mobilecontent .event01 h2 {
        float: left;
    }

    #mobilecontent .event02 {
        width: 100%;
        margin: 10px;
    }

    #mobilecontent .events {
        width: 100%;
        margin: 0;
    }

    #mobilecontent .desktopevents {
        display: none;
    }

    #mobilecontent .mobileevents {
        display: contents;
    }

    #mobilecontent .desktophours {
        display: none;
    }

    #mobilecontent .mobilehours {
        display: contents;
    }



    #mobilecontent .vestergade {
        width: 100%;
        float: left;
        position: relative;
        display: block;
        flex-direction: row;
        margin-top: ;
    }

    #mobilecontent .Vopeningheading {
        float: right;
        margin-right: 35px;
        font-size: 18px;
    }

    .Vphone {
        padding: 0;
        float: right;
        right: 0;
    }

    #mobilecontent .vestergadetext {
        width: 40%;
        float: left;
        position: relative;
        text-align: right;
        margin-right: 0px;
        margin-top: -35%;
        margin-left: 20px;
    }

    #mobilecontent .vestergadeopening {
        width: 43%;
        float: right;
        margin-right: 35px;
        top: 0;
        padding: 0;
    }

    #mobilecontent .fredensgade {
        width: 100%;
        float: left;
        position: relative;
        display: block;
        flex-direction: row;
    }

    #mobilecontent .Fopeningheading {
        float: left;
        margin-left: 35px;
        font-size: 18px;
    }

    #mobilecontent .fredensgadetext {
        width: 40%;
        float: right;
        position: relative;
        text-align: left;
        margin-right: 20px;
        margin-top: -35%;
        margin-left: 0;
    }

    #mobilecontent .fredensgadeopening {
        width: 43%;
        margin-left: 35px;
        margin-right: 0;
        float: left;
    }






    /* BOOKING MOBILE PAGE STARTS*/

    #mobilecontent #conditions {
        padding: 0;
        font-family: Roboto condensed;
        font-size: 13px;
        width: 100%;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    #mobilecontent #conditions p {
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;

    }

    #mobilecontent #bookinginformation {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: 5%;
        padding: 0;
        width: 90%;
        position: relative;
        top: 0;

    }

    #mobilecontent #booking {
        top: 0;
        margin-top: 5%;
    }

    #mobilecontent .submit {
        margin-top: -60%;
    }

    #mobilecontent #bookinginformation input[type=checkbox] {
        width: 20px;
        height: 20px;
        max-width: 20px;
        max-height: 20px;
        padding: 5px;
        margin-bottom: 0;
        -webkit-appearance: none;
        border: 1px solid #CE3036;
    }

    input[type=checkbox]:checked {
        padding: 0px 5px 5px 5px;
    }

    input[type=checkbox]:checked:after {
        content: 'x';
        align-content: center;
        vertical-align: middle;
        font-size: 20px;
        color: white;
    }

    .bookingconfirmation {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 15vw;
    }


    /* SNACKS AND DRINKS MOBILE PAGE STARTS */

    #desktopfood {
        display: none;
    }

    #mobilecontent #mobilefood {
        display: contents;
        z-index: 1000;
        position: relative;
    }

    #mobilecontent #mobilefood img {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 30px;
    }

    /* GAMES CATALOGUE MOBILE PAGE STARTS */

    #mobilecontent input[type=text] {
        width: 80%;
        margin-left: 6%;
        margin-top: 4%;
        position: relative;
    }

    #mobilecontent #myBtnContainer {
        position: relative;
        top: auto;
        margin-top: 3%;
        width: 80%;
        margin-left: 6%;
        font-family: Roboto Condensed;
        padding: 15px;
    }

    #mobilecontent #myBtnContainer h2 {
        font-size: 20px;
    }

    #mobilecontent #mobilemyUL {
        display: contents;
        padding: 0;
        width: 100%;
        z-index: 2000;
        position: absolute;
        text-align: justify;
        top: 20%;
    }

    #mobilecontent #myUL {
        display: none;
    }

    #mobilecontent #mobilemyUL img {
        width: 100%;
        position: relative;
        margin-left: 0;
    }

    #mobilecontent #mobilemyUL div {
        padding: 16px;
    }

    #mobilecontent #mobilemyUL li {
        width: 100%;
        position: relative;
        margin-left: 0;
        padding-right: ;
        display: inline-block;
    }

    #mobilecontent #mobilemyUL p {
        position: relative;
        margin-left: 0;
        font-size: 13px;
        width: 100%;
        font-family: Avenir LT Std;
        color: white;
    }

    #mobilecontent #mobilemyUL h3 {
        font-size: 15px;
        margin: 0;
        padding-bottom: 10px;
        text-align: center;
    }

    #mobilecontent #mobilemyUL a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }


    #mobilecontent #mobilemyUL h3 {
        font-family: Avenir LT Std;
    }

    #mobilemyUL li a {
        text-decoration: none;
        font-size: 16px;
        color: white;
        font-family: Avenir LT Std;
        background-color: #DB353B;
        padding: 8px 18px 8px 18px;
    }

    #mobilemyUL li a:hover {
        background-color: white;
        color: #DB353B;

    }

    #mobilecontent .show {
        display: inline-block;
        width: 40%;
        position: relative;
    }

    /* SHOP MOBILE PAGE START */

    #mobilecontent .menu {
        display: none
    }

    #mobilecontent .comingsoon {
        position: absolute;
        top: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }






}

@media only screen and (min-width: 450px) {

    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Roboto Condensed";
        font-size: 1.1rem;
        margin: 0;
        background-image: url(images/background.png);
    }

    #mobilemenu {
        display: none;
    }

    p {
        line-height: 1.4;
    }

    .menu {
        display: flex;
        justify-content: center;
        z-index: 2;
    }

    nav {
        width: 70%;
        height: 10%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        font-family: "Avenir LT Std";
        font-weight: bold;
        z-index: 200;

    }

    nav a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        color: white;
        transition-duration: 0.8s;
    }

    nav a:hover {
        color: #CE3036;
        transition-duration: 0.7s;
    }

    .menuline {
        display: block;
        width: 80%;
        margin-top: -2vw;
        margin-left: 10%;
    }


    #SoMeicons {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 20px;
        align-items: center;
        height: 12%;
        margin-top: 10px;
    }

    #SoMeicons img {
        padding: 5px;
        width: 30px;
    }


    .footer {
        background-color: #FFDB4D;
        position: absolute;
        margin-top: 10vw;
        width: 100%;
        text-align: center;
        font-family: "Avenir LT Std";
        color: #11233E;
    }

    .footer a {
        color: #11233E;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }

    .footer p {
        font-size: 20px;
    }

    .footericons {
        padding: 0;
    }

    .footer img {
        padding-bottom: 10px;
    }
    
    .footerlink:hover {
        color: #CE3036;
        transition-duration: 0.7s;
    }

}

/* HOMEPAGE STARTS */

#homelanding {
    background-image: url(images/landingbackground.jpg);
    position: relative;
    height: 38em;
    z-index: -200;
    margin-top: -100px;
}

.footericons {
    padding: 0;
}

#homefooter img {
    padding-bottom: 10px;
}

.redline {
    position: relative;
    width: 100%;
    min-width: 100%;
    z-index: -50;
    margin-top: ;
    top: 0;

}

#maininfo {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.polygons {
    display: flex;
    flex-direction: row;
    margin-top: ;
}

.yellowpolygonleft {
    position: relative;
    float: left;
}

.yellowleft {
    background-image: url(images/yellowpolygon1b.png);
    background-repeat: no-repeat;
    position: relative;
    width: 300px;
    height: 350px;
    margin-top: -70%;
    margin-left: 30%;
    float: left;
}

.yellowleft img {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.yellowleft img:hover {
    opacity: 0;
}


.yellowpolygonright {
    position: relative;
}

.yellowright {
    background-image: url(images/yellowpolygon2b.png);
    background-repeat: no-repeat;
    position: relative;
    width: 300px;
    height: 350px;
    float: right;
    margin-top: -15.5%;
    margin-left: 6%;

}

.yellowright img {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.yellowright img:hover {
    opacity: 0;
}

.redpolygon {
    position: absolute;
    width: auto;

}

.redcenter {
    background-image: url(images/redpolygonedit.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 465px;
    position: relative;
    margin-top: -20%;
    margin-left: 13.5%;

}

.redcenter img {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.redcenter img:hover {
    opacity: 0;
}

.redcenter {
    /* -webkit-animation: mover 1s infinite  alternate; */
    animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}


.mobileevents {
    display: none;
}

.events {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vw;
}

.event01 {
    width: 50%;
    float: left;
}

.event01img {
    width: 80%;
    float: left;
}

.attendevent01 {
    font-family: 'Avenir LT Std', serif;
    color: white;
    font-size: 1rem;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 5%;
    font-weight: 400;
    background-color: #CE3036;
    border: none;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-left: -26%;
    margin-top: 37%;
    transition-duration: 0.8s;
}

.attendevent01:hover {
    background-color: white;
    color: #CE3036;
}


.event02 {
    width: 50%;
    float: right;
}

.event02img {
    width: 80%;
    float: right;
}

.attendevent02 {
    float: right;
    font-family: 'Avenir LT Std', serif;
    color: white;
    font-size: 1rem;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 5%;
    font-weight: 400;
    background-color: #CE3036;
    border: none;
    box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-right: 6.5%;
    margin-top: -8.5%;
    transition-duration: 0.8s;
}

.attendevent02:hover {
    background-color: white;
    color: #CE3036;
}

#information {
    background-image: url(images/background2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 45em;
    position: relative;
    top: 48em;
}

.openinghours {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 28vw;
    margin-bottom: 55vw;
    position: relative;
}

h5 {
    font-family: 'Avenir LT Std', serif;
    font-weight: 100;
}

.vestergade {
    width: 50%;
    float: left;
}

.Vopeningheading {
    padding: 0;
    float: right;
    margin-right: 5%;
}

.Vphone {
    padding: 0;
    float: right;
    right: 0;
}

.vestergadetext {
    width: 50%;
    float: left;
    top: 0;
    padding: 0;
}

.vestergadeopening {
    width: 40%;
    float: right;
    margin-right: 5%;
    top: 0;
    padding: 0;
}

.fredensgade {
    width: 50%;
    float: right;
}

.Fopeningheading {
    padding: 0;
    float: left;
    margin-left: 5%;
}

.fredensgadetext {
    width: 50%;
    float: right;
}

.fredensgadeopening {
    width: 40%;
    margin-left: 5%;
    float: left;
}

.mobilehours {
    display: none;
}

/* BOOKING PAGE STARTS */

#conditions {
    position: absolute;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding-left: 150px;
}

#conditions img {
    vertical-align: middle;
    padding-right: 5px;
    width: 20px;
}

#conditions p {
    width: 35%;
    margin: 7px;
    margin-left: 0;
    padding-right: 80px;

}

h2 {
    color: white;
    padding-left: 150px;
    border: 0;
    padding-top: 10px;
}

#booking {
    margin-bottom: 45vw;
}

#bookinginformation {
    background: rgb(219, 53, 59);
    background: linear-gradient(0deg, rgba(219, 53, 59, 1) 0%, rgba(219, 53, 59, 0.165703781512605) 100%);
    position: absolute;
    margin-top: 10%;
    margin-left: 150px;
    width: 30%;
}

#bookinginformation h2 {
    padding: 15px;
    margin-bottom: 0;
    margin-top: -5px;
}

form {
    position: relative;
    color: white;
    padding-left: 15px;
    font-family: "Roboto Condensed";
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    padding: 5px;
    margin-bottom: 0;
    -webkit-appearance: none;
    border: 1px solid #CE3036;
}

input[type=checkbox]:checked {
    padding: 0px 5px 5px 5px;
}

input[type=checkbox]:checked:after {
    content: 'x';
    align-content: center;
    vertical-align: middle;
    font-size: 20px;
    color: white;
}

#bookinginformation input[type=text] {
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px #d8d8d8 solid;
    font-size: 15px;
    color: #d8d8d8;
    width: 85%;
}

input::placeholder {
    color: #d8d8d8;
}

select {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    color: white;
    padding: 10px;
    font-family: "Roboto Condensed";
}

select option {
    color: black;
    font-family: "Roboto Condensed";
}

input[type=date],
[type=time] {
    margin-left: 10px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px #d8d8d8 solid;
    color: #d8d8d8;
    padding: 10px;

}

.seattext {
    float: right;
    padding: 0;
    margin-right: 40%;
    text-align: center;
    margin-top: 7%;
}

.seattextheading {
    padding: 0;
    font-size: 2em;
    border: 1px solid white;
}

#map {
    width: 50%;
    float: right;
    margin-top: 8.5%;
    margin-right: 0%;
}

.mapimg {
    position: absolute;
    width: 70%;
}

.seat {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

#bigseat1 {
    width: 10.3%;
    margin-left: 12%;
    margin-top: 2%;
    transform: rotate(90deg);
}

#bigseat2,
#bigseat3 {
    width: 10.3%;
    margin-left: 12%;
    margin-top: 0.3%;
    transform: rotate(90deg);
}

#bigseat4,
#bigseat5 {
    width: 10.3%;
    margin-left: 5%;
    margin-top: -4%;
}

#bigseat6 {
    width: 12.3%;
    margin-left: 4%;
    margin-bottom: 1%;
}

#bigseat7 {
    width: 10.3%;
    margin-left: 6%;
    margin-top: 3%
}

#bigseat8 {
    width: 10.3%;
    margin-left: 1%
}

#smallseat1,
#smallseat3 {
    width: 12.3%;
    margin-left: 11%;
    margin-top: 2%;
}

#smallseat2,
#smallseat4 {
    width: 12.3%;
    margin-left: 2%;
}

#smallseat5 {
    width: 12.3%;
    margin-left: 1%;
    margin-top: 5%;
}

#smallseat6,
#smallseat7 {
    width: 12.3%;
    margin-left: 1%;
}

#smallseat8 {
    width: 12.3%;
    margin-left: 14%;
}

.submit {
    font-family: 'Avenir LT Std', serif;
    color: #162D50;
    font-size: 1.2rem;
    padding: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 700;
    background-color: #FFDB4D;
    border: none;
    box-shadow: 0vw 0vw 0.5vw rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition-duration: 1s;
    float: right;
    margin-right: 15%;
    margin-top: -2.5%;
}

.submit:hover {
    font-size: 1rem;
    margin-right: 15.3%;
    margin-top: -2.4%;
}

.bookingconfirmation {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

/* SNACKS & DRINKS PAGE STARTS */

#mobilefood {
    display: none;
}

.foodpic {
    width: 30%;
    height: 30%;
    align-items: center;
}

.food img {
    margin-top: 3%;
}

.food {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


/* GAMES CATALOGUE PAGE STARTS */

#mobilemyUL {
    display: none;
}

#myInput {
    width: 15.5%;
    font-size: 16px;
    padding: 12px 10px 12px 20px;
    border: 1px solid #DB353B;
    margin-top: 50px;
    margin-left: 10%;
    position: absolute;
    font-family: Roboto Condensed;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

#myUL p {
    text-align: justify;
    color: #989898;
    font-style: italic;
    font-weight: lighter;
    font-size: 15px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    padding-left: 20%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 28px;
}

h3 {
    color: white;
    margin-bottom: -10px;
    margin-top: 5px;
}

#myUL li {
    width: 100%;
    margin: 10%;
}

#myUL li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: Avenir LT Std;
    background-color: #DB353B;
    padding: 8px 18px 8px 18px;
}

#myUL li a:hover {
    background-color: white;
    color: #DB353B;

}

.filterDiv {
    display: none;
}

.show {
    display: block;
    width: 30%;
    position: relative;
}

#myBtnContainer {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 15%;
    margin-left: 10%;
    background: rgb(219, 53, 59);
    background: linear-gradient(0deg, rgba(219, 53, 59, 1) 0%, rgba(219, 53, 59, 0.165703781512605) 100%);
    padding: 20px;
}

#myBtnContainer h2 {
    padding: 0;
    margin: 0;
}

#myBtnContainer h3 {
    margin-right: 17px;
}

#myUL p {
    width: 66%;
    margin-left: 17%;
}

.btn {
    margin: 7px;
    margin-left: 0;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-family: Roboto Condensed;
    font-size: 15px;
    cursor: pointer;

}

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: white;
    color: #DB353B;
}

.btn.active:hover {
    background-color: white;
    color: #DB353B;
}

/* Add a dark background to the active button */
.btn.active {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-family: Roboto Condensed;
    font-size: 12px;
    cursor: pointer;
}

.red {
    /* -webkit-animation: mover 1s infinite  alternate; */
    animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.comingsoon {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
