body {
    font-family: "Roboto Condensed";
    font-size: 1.1rem;
    margin: 0;
    background-image: url(images/background.png);
}

p {
    line-height: 1.4;
}

.menu {
    display: flex;
    justify-content: center;
}

nav {
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    font-family: "Avenir LT Std";
    font-weight: bold;
    z-index: 10;

}

nav a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;


}

.menuline {
    display: block;
    width: 80%;
    margin-top: -2vw;
    margin-left: 10%;
}

.landing {
    height: 10%;
    width: 100%;
    margin-top: -7vw;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

#SoMeicons {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20px;
    align-items: center;
    height: 12%;
    margin-top: 10px;
}

#SoMeicons img {
    padding: 5px;
    width: 30px;
}


.footer {
    background-color: #FFDB4D;
    position: absolute;
    margin-top: 50vw;
    width: 100%;
    text-align: center;
    font-family: "Avenir LT Std";
    color: #11233E;
}

.footer a {
    color: #11233E;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.footer p {
    font-size: 20px;
}

.footericons {
    padding: 0;
}

.footer img {
    padding-bottom: 10px;
}


/* HOMEPAGE STARTS */

#homelanding {
    background-image: none;
    background-color: black;
    height: 50em;
    z-index: -200;
}

#homefooter {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 10rem;
    background-color: #FFDB4D;
    text-align: center;
    color: #11233E;
}


#homefooter a {
    color: #11233E;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

#homefooter p {
    font-size: 20px;
}

.footericons {
    padding: 0;
}

#homefooter img {
    padding-bottom: 10px;
}

.icon {
    width: 16%;
    margin-left: 42%;
    margin-top: 12%;
}

.yellowleft {
    float: left;
    width: 22%;
    background-image: url(images/yellowPolygon.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -3.5%;
    margin-left: 9.5%;
}

.yellowlefttext {
    width: 64%;
    margin-left: 18%;
    color: #162D50;
    text-align: center;
}

.yellowleftbutton {
    font-family: 'Avenir LT Std', serif;
    color: white;
    font-size: 1rem;
    padding: 0.7rem;
    font-weight: 700;
    background-color: #CE3036;
    border: none;
}

.red {
    float: left;
    width: 37%;
    background-image: url(images/redPolygon.png);
    background-size: cover;
    margin-top: -11.5%;
}

.redtext {
    width: 60%;
    margin-left: 20%;
    color: white;
    text-align: center;
}

.entryfee{
    width: 30%;
}

.redbutton {
    font-family: 'Avenir LT Std', serif;
    color: #162D50;
    font-size: 1.2rem;
    padding: 0.7rem;
    font-weight: 700;
    background-color: #FFDB4D;
    border: none;
}

.yellowright {
    float: right;
    width: 22%;
    background-image: url(images/yellowPolygon.png);
    background-size: cover;
    margin-right: 9.5%;
    margin-top: -3.5%;
}

.yellowrighttext {
    width: 70%;
    margin-left: 15%;
    color: #162D50;
    text-align: center;
}

.redline {
    position: absolute;
    width: 100%;
    z-index: -50;
    margin-top: 6%;
}

#poligons {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 48em;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    z-index: 1;
}

#poligons img {
    vertical-align: middle;
    margin-top: -330px;
}

#poligons p {
    position: absolute;
}



#information {
    background-image: url(images/background2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 45em;
    position: relative;
    top: 48em;
}

.openinghours {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 15vw;
}

h3 {
   font-family: 'Avenir LT Std', serif;
    font-weight: 100;
}

.vestergade {
    width: 50%;
    float: left;
}

.Vopening {
    float: right;
    margin-top: -21vw;
}

.vestergadeh2 {
    font-family: 'Avenir LT Std', serif;
    float: right;
    margin-right: 5%;
}

.vestergadeopeningbck {
    float: right;
    margin-right: 5%;
    top: 0;
}

.vestergadeh3{
    float: right;
    margin-right: -28%;
    margin-top: 1.5vw;
}

.vestergadetext {
    width: 35%;
    float: left;
    margin-top: 11vw;
    text-align: right;
}

.vestergadeopening {
    float: right;
    width: 25%;
    margin-top: 4vw;
    margin-right: -31%;
    line-height: 1.6;
}

.fredensgade {
    width: 50%;
    float: right;
}

.fredensgadetext {
    width: 35%;
    float: right;
    margin-top: 11vw;
}

.Fopening {
    float: left;
}

.fredensgadeh2 {
    font-family: 'Avenir LT Std', serif;
    padding-left: 0;
    float: left;
    margin-left: 5%;
}

.fredensgadeopeningbck {
    float: left;
    margin-left: 5%;
    top: 0;
}

.fredensgadeh3{
    float: left;
    margin-left: 15%;
    margin-top: 1.5vw;
}

.fredensgadeopening {
    float: left;
    width: 25%;
    margin-top: 4vw;
    margin-left: -31%;
    line-height: 1.6;
}

/* BOOKING PAGE STARTS */

#conditions {
    position: absolute;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding-left: 150px;
}

#conditions img {
    vertical-align: middle;
    padding-right: 5px;
    width: 20px;
}

#conditions p {
    width: 35%;
    margin: 7px;
    margin-left: 0;
    padding-right: 80px;

}

h2 {
    color: white;
    padding-left: 150px;
    border: 0;
    padding-top: 10px;
}

#bookinginformation {
    background: rgb(219, 53, 59);
    background: linear-gradient(0deg, rgba(219, 53, 59, 1) 0%, rgba(219, 53, 59, 0.165703781512605) 100%);
    position: absolute;
    top: 22em;
    margin-left: 150px;
    width: 30%;
}

#bookinginformation h2 {
    padding: 15px;
    margin-bottom: 0;
    margin-top: -5px;
}

form {
    color: white;
    padding-left: 15px;
    font-family: "Roboto Condensed";
}

input[type=checkbox] {
    padding: 10px;
    margin: 10px;
}

input[type=text] {
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px #d8d8d8 solid;
    font-size: 15px;
    color: #d8d8d8;
    width: 85%;
}

input::placeholder {
    color: #d8d8d8;
}

select {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    color: white;
    padding: 10px;
    font-family: "Roboto Condensed";
}

select option {
    color: black;
    font-family: "Roboto Condensed";
}

input[type=date],
[type=time] {
    margin-left: 10px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px #d8d8d8 solid;
    color: #d8d8d8;
    padding: 10px;

}

/* SNACKS & DRINKS PAGE STARTS */

.foodpic {
    width: 30%;
    height: 30%;
    align-items: center;
}

.food img {
    margin-top: 3%;
}

.food {
    display: flex;
    flex-direction: row;
     justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}











h4 {
    font-family: 'Avenir LT Std', serif;
    font-size: 1.4rem;
    padding: 0;
    color: white;
}

.events {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vw;
    margin-bottom: 60vw;
}

.event01 {
    width: 50%;
    float: left;
}

.event01img {
    width: 80%;
    float: left;
}

.event02 {
    width: 50%;
    float: right;
}

.event02img {
    width: 80%;
    float: right;
}